<h1>Welcome to the Doctor Office</h1>

  <ul>
    <% @specialties.each() do |specialty| %>
      <li><a href="/specialties/<%= specialty.id()%>"><%= specialty.name() %></a> </li>
    <% end %>
  </ul>
  <h3><a href="/doctors">See All Doctors:</a></h3>
